.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  background-color: bisque;
  
}
h1{
  text-align: center;
  font: times;
  color:red;
  background-color: black;
  
}
.App{
  margin: auto;
  max-width: 900px;
  background-attachment: fixed;
}